$primary-color-100: #495e57;
$primary-color-200: #f4ce14;
$primary-color-300: #ffffff;
$primary-color-400: #000000;
$secondary-color-100: #ee9972;
$secondary-color-200: #fbdabb;
$highlight-color-100: #edefee;
$highlight-color-200: #333333;
